/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jan, 2019, 4:41:54 PM
    Author     : uzair
*/

.navbar-nav {

    float: left;
    margin: 0;
    padding-left: 11px;
}

img {

    vertical-align: middle;
    height: 50px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    background-color: white;
    margin-left: auto;

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background-color: darkred;
}

.navbar-inverse .navbar-nav > li > a {
    color: darkred;
}